{% extends 'dashboard.html.twig' %}
{% block content %}

    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
<div class="container">
    <div class="form-group">


        {{ form_label(form.idcour,"id Cours:") }}

        {{ form_widget(form.idcour, {attr: {class:'form-control','id':'idcour'}}) }}
        <div style="color: red;">
            {{ form_errors(form.idcour)}}
        </div>
    </div>
    <div class="form-group" >


        {{ form_label(form.idclient,"Id Client:" ) }}

        {{ form_widget(form.idclient,{attr: {class:'form-control','id':'idclient'}}) }}
        <div style="color: #ff0000;">
            {{ form_errors(form.idcour)}}
        </div>

    </div>


</div>
<div class="card-footer">
    <button  type="submit" href="{{ path('add_cart') }}" class="btn btn-primary">Ajouter au panier</button>
</div>
{{ form_end(form) }}
{% endblock  %}