{% extends 'Front_navbar_footer.html.twig' %}
{% block title %} <div
        class="padding-y-60 bg-cover"
        data-dark-overlay="6"
        style="background: url({{ asset('frontoffice/assets/img/passageex.png')}}) no-repeat"
>
    <div class="container">
        <h1 class="text-white">Détails examen :</h1>
        <ol
                class="breadcrumb breadcrumb-double-angle text-white bg-transparent p-0"
        >
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Examens</a></li>
            <li class="breadcrumb-item">Détails examen</li>
        </ol>
    </div>
</div>
{% endblock %}

{% block body %}


    <section class="padding-y-60 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mt-4">
                    <div class="card shadow-v1">
                        <div class="position-relative">
                            <img
                                    class="card-img-top w-100"
                                    src="{{ asset('frontoffice/assets/img/passageex2.jpg')}}"
                                    alt=""
                                    height="300" width="300"
                            />
                            <div
                                    class="position-absolute bottom-0 width-100p bg-primary-0_7 text-center text-white"
                            >

                            </div>
                        </div>
                        <div class="card-body padding-40">
                            <h2 class="card-title">{{ examen.titre }}</h2>
                            <p class="mb-0">
                                l'examen eura lieu le : <label style="color: #0074f0">{{ examen.date | date("d/m/Y") }}</label>
                                Avec un prix de  <label style="color: #0c84ff"> {{ examen.prix }}DT</label> et un niveau <label style="color: #0c84ff">
                                    {{ examen.niveau }}</label>.
                            </p>
                            <br>
                            <p class="mb-0" style="color:#ff2255">
                                <i class='fas fa-exclamation-circle' style='color:red'></i>
                                Tenter votre chance et inscrivez vous dans l'examen  <label style="color: #0074f0">{{examen.titre}}</label>
                                et Bonne Chance !!!
                            </p>



                            <div class="tab-content">
                                <div
                                        class="tab-pane fade active show"
                                        id="Tabs_1-1"
                                        role="tabpanel"
                                >
                                   <!-- END row-->
                                    <ul
                                            class="list-inline d-inline-block py-3 px-4 shadow-v3 bg-white rounded-pill"
                                    >
                                        <li class="list-inline-item">
                                            Partager
                                            <span class="d-none d-md-inline-block"
                                            >l'examen :</span
                                            >
                                        </li>
                                        <li class="list-inline-item mx-0">
                                            <a
                                                    href="#"
                                                    class="btn btn-opacity-primary iconbox iconbox-sm"
                                            >
                                                <i class="ti-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item mx-0">
                                            <a
                                                    href="#"
                                                    class="btn btn-opacity-primary iconbox iconbox-sm"
                                            >
                                                <i class="ti-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item mx-0">
                                            <a
                                                    href="#"
                                                    class="btn btn-opacity-primary iconbox iconbox-sm"
                                            >
                                                <i class="ti-linkedin"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item mx-0">
                                            <a
                                                    href="#"
                                                    class="btn btn-opacity-primary iconbox iconbox-sm"
                                            >
                                                <i class="ti-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- END tab-pane-->

                            </div>
                            <!-- END tab-content-->
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-4">
                    <div class="card shadow-v1">
                        <div class="card-body">
                            <h4 class="mb-2">Informations :</h4>

                            <div class="border-bottom py-3">
                                <div class="media">
                                    <i class="ti-calendar text-primary mt-2"></i>
                                    <div class="media-body ml-3">
                                        <h6 class="my-0">{{ examen.date | date("d/m/Y") }}</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="border-bottom py-3">
                                <div class="media">
                                    <i class="ti-time text-primary mt-2"></i>
                                    <div class="media-body ml-3">
                                        <h6 class="my-0">Time</h6>
                                        <span>9:00 AM – 6:00 PM</span>
                                    </div>
                                </div>
                            </div>
                            <div class="border-bottom py-3">
                                <div class="media">
                                    <i class="ti-credit-card text-primary mt-2"></i>
                                    <div class="media-body ml-3">
                                        <h6 class="my-0">
                                            Cost <span class="badge badge-primary ml-2">{{examen.prix }}DT</span>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <a href="{{ path('inscripexam_new', {'idexam': examen.id}) }}" class="btn btn-primary marginTop-40">S'inscrire</a>
                        </div>
                    </div>


                </div>
            </div>
            <!-- END row-->
        </div>
        <!-- END container-->
    </section>


{% endblock %}