{% extends 'base.html.twig' %}
{% block bar %}
    <div class="breadcome-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcome-list single-page-breadcome">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="breadcome-heading">
                                    <form role="search" class="sr-input-func">
                                        <input type="text" placeholder="Search..." class="search-int form-control">
                                        <a href="#"><i class="fa fa-search"></i></a>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <ul class="breadcome-menu">
                                    <li><a href="#">Home</a> <span class="bread-slash">/</span>
                                    </li>
                                    <li><span class="bread-blod">Data Table</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="static-table-area">
    <div class="container-fluid">
    <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="sparkline8-list">
            <div class="sparkline8-hd">
                <div class="main-sparkline8-hd">
                    <h1>{{ event.getNomevent }}: {{ inscriptions|length }} Inscriptions</h1>
                </div>
            </div>
            <div class="sparkline8-graph">
                <div class="static-table-list">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>IdInscription</th>
                            <th>IdClient</th>
                            <th>IdEvent</th>
                            <th>Name</th>
                            <th>Email </th>
                            <th>Date </th>
                        </tr>
                        </thead>
                        {% if inscriptions %}
                            {% for i in inscriptions %}
                        <tbody>
                        <tr>
                            <td>{{ i.getIdinscri }}</td>
                            <td>{{ i.event.getIdevent }}</td>
                            <td>{{ i.client.getId }}</td>
                            <td>{{ i.client.getNom }}</td>
                            <td>{{i.client.getEmail}}</td>
                            <td>{{ i.getDateinscri|date('d/m/Y') }}</td>
                        </tr>
                        </tbody>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>

{% endblock %}