{% extends 'DashbordBack.html.twig' %}
{% block titre %}Gestion des Questions{% endblock %}
{% block miniTitre %}Gestion des Questions{% endblock  %}
{% block content %}

    {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
    <div class="container">
        <div class="form-group">
            {{ form_label(form.question,"Question:") }}

            <div style="color: red">
                {{ form_errors(form.question)}}
            </div>

            {{ form_widget(form.question, {attr: {class:'form-control','id':'question'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.reponsec,"Reponse Correct:" ) }}

            <div style="color: red">
                {{ form_errors(form.reponsec)}}
            </div>

            {{ form_widget(form.reponsec,{attr: {class:'form-control','id':'reponsec'}}) }}
        </div>

    </div>
    <div class="card-footer">
        <button  type="submit" href="{{ path('add_question') }}" class="btn btn-primary">Ajouter Question</button>
    </div>




    {{ form_end(form) }}



{% endblock  %}
