{% extends 'DashbordBack.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">LISTE DES COURS :</h3>

        </div>
        <div class="card-body p-0">
            <form class="w-search">
                <div class="sidebar-search">

                    <div class="input-group custom-search-form">

                        <input type="text" id="myInput" class="form-control pl-3" placeholder="Search here">
                    </div>
                    <!-- /input-group -->
                </div>
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="#"><span class="fa arrow"></span></a>
                        <ul style="background-color: #0b0b0b" class="nav " id="entitiesNav">
                        </ul>
                    </li>
                </ul>



            </form>
            <br>
            <br>
            <br>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Objet</th>
                    <th>Description</th>
                    <th>Cv</th>
                    <th>Status</th>
                    <th>actions</th>

                </tr>
                </thead>
                <tbody id="myTable2">
                {% for demande in demandes %}
                    {% if demande.status==1 %}
                        <tr>
                            <td>{{ demande.id }}</td>
                            <td>{{ demande.objet }}</td>
                            <td>{{ demande.description }}</td>
                            <td>{{ demande.cv }}</td>
                            {% if demande.status==1 %}
                                <td>{{ " Traite" }}</td>
                            {% endif %}
                            <td>
                                <a class="btn btn-block btn-success" href="{{ path('demande_edit',{'id': demande.id}) }}" > modifier</a>
                            </td>
                            <td>
                                {{ include('demande/_delete_form.html.twig') }}
                            </td>
                        </tr>


                    {% endif %}
                {% endfor %}

                </tbody>
            </table>
        </div>

        <div class="navigation">
            {{ knp_pagination_render(demandes) }}
        </div>

    </div>
{% endblock content %}
