

{% extends 'Front_navbar_footer.html.twig' %}
{% block body %}
    {% block content %}

        <!-- END site-search-->

        <div
                class="py-5 bg-cover"
                data-dark-overlay="6"

        >
            <div class="container">
                <h2 class="text-white">Demande</h2>
                <ol
                        class="breadcrumb breadcrumb-double-angle text-white bg-transparent p-0"
                >
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Page</a></li>
                    <li class="breadcrumb-item">Demande</li>
                </ol>
            </div>
        </div>



        <section class="padding-y-100 bg-light-v2">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center mb-5">
                        <h2>Edit Demande</h2>

                            {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
                            <div class="container">
                                <div class="form-group">
                                    {{ form_row(form.objet, {"attr" : {'class':'form-control'},"label":"Objet de la demande"})}}

                                    {{ form_widget(form.objet, {attr: {class:'form-control','id':'objet'}}) }}
                                </div>

                                <div class="form-group">
                                    {{ form_row(form.description, {"attr" : {'class':'form-control'},"label":"Description de la de demande"})}}


                                    {{ form_widget(form.description, {attr: {class:'form-control','id':'description'}}) }}
                                </div>

                                <div>
                                    {{ form_label(form.cv) }}
                                    {{ form_widget(form.cv, {'attr': {'class': 'form-control form-control-lg','placeholder':'image path'}}) }}
                                </div>
                            </div>




                            <div class="card-footer">
                                <button  type="submit"  class="btn btn-primary" >{{ button_label|default('Modifier Demande') }}</button>
                            </div>
                            {{ form_end(form) }}


                        <a href="{{ path('list_demandeF') }}">back to list</a>

                        {{ include('page/demande/_delete_form.html.twig') }}

                    </div>
                    <div
                            class="width-4rem height-4 bg-primary my-2 mx-auto rounded"
                    ></div>
                </div>
                <div class="col-12 text-center">

                </div>
            </div>
            <!-- END row-->
            </div>
            <!-- END container-->
        </section>

        <div
                class="google-map"
                data-address="Harvard University"
                data-zoom="14"
                data-key="AIzaSyB0uuKeEkPfAo7EUINYPQs3bzXn7AabgJI"
                style="height: 450px"
        ></div>

        <!-- END site-footer -->

        <div class="scroll-top">
            <i class="ti-angle-up"></i>
        </div>

        <script src="assets/js/vendors.bundle.js"></script>
        <script src="assets/js/app.min.js"></script>

    {% endblock content %}
{% endblock body %}